<h2>Website Homepage</h2>
<a href="{% url 'blog:all_blogs' %}">Blog</a>
{% for project in projects %}

<h2>{{ project.title }}</h2>
<p>{{ project.description }}</p>
<img src="{{ project.image.url }}" width="300" height="300">
{% if project.url %}
<br><a href="{{ project.url }}" target="_blank">Project Link</a>
{% endif %}
{% endfor %}