<h2>Our blogs</h2>

<h2>Total blog {{ blogs.count|pluralize }} {{ blogs.count }} </h2>

{% for blog in blogs %}

<a href="{% url 'blog:detail' blog.id %}"><h2>{{ blog.title }}</h2></a>
<h5>{{ blog.created_at|date:'M d Y'|upper }}</h5>
<p>{{ blog.content|safe|truncatechars:50 }}</p>
{% endfor %}